﻿<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#filtro">
        <h3 class="panel-title">
            <i class="fa fa-list"></i>
            Lista de Produtos
        </h3>
    </div>
    <!--<div class="panel-body collapse in" id="filtro"> Analisar Diferença -->
    <div class="panel-body" id="filtro">
        <table id="dataTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <tr class="pointer" ng-repeat="item in vm.lista">
                    <td>{{item.Id}}</td>
                    <td>{{item.Nome}}</td>
                    <td>{{item.Marca}}</td>
                    <td>{{item.Descricao}}</td>
                    <td>{{item.Preco | currency:"R$"}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" ui-sref="produto.editar({id: item.Id})"
                                    class="btn btn-default btn-sm"
                                    uib-tooltip="Editar">
                                <i class="fa fa-pencil" />
                            </button>
                            <button type="button" ui-sref="produto.excluir({id: item.Id})"
                                    class="btn btn-danger btn-sm"
                                    uib-tooltip="Excluir">
                                <i class="fa fa-trash-o" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button ui-sref="cliente.cadastrar" class="btn btn-primary">
            <i>Novo</i>
        </button>
    </div>
</div>