﻿<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#filtro">
        <h3 class="panel-title">
            <i class="fa fa-list"></i>
            Lista de Clientes
        </h3>
    </div>
    <!--<div class="panel-body collapse in" id="filtro"> Analisar Diferença -->
    <div class="panel-body" id="filtro">
        <table id="dataTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Logradouro</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <tr class="pointer" ng-repeat="item in vm.lista">
                    <td>{{item.Id}}</td>
                    <td>{{item.Nome}}</td>
                    <td>{{item.Telefone}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Cpf}}</td>
                    <td>{{item.Logradouro}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalVisualizar"
                                    uib-tooltip="Visualizar">
                                <i class="fa fa-eye" />
                            </button>
                            <button type="button" ui-sref="cliente.editar({id: item.Id})"
                                    class="btn btn-default btn-sm"
                                    uib-tooltip="Editar">
                                <i class="fa fa-pencil" />
                            </button>
                            <button type="button" ui-sref="cliente.excluir({id: item.Id})"
                                    class="btn btn-danger btn-sm"
                                    uib-tooltip="Excluir">
                                <i class="fa fa-trash-o" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="modalVisualizar" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Informações Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <p>Todos os dados</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <button ui-sref="cliente.cadastrar" class="btn btn-primary">
            <i class="fa fa-user-plus"></i>
            Novo Cliente
        </button>
    </div>
</div>