﻿<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#filtro">
        <h3 class="panel-title">
            <i class="fa fa-user-plus"></i>
            Novo Cliente
        </h3>
    </div>
    <div class="panel-body">
        <form name="vm.form" ng-submit="vm.salvar()">
            <div class="panel-body" id="filtro">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" required ng-model="vm.registro.Nome" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="Cpf" name="Cpf"  ng-model="vm.registro.Cpf" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="Telefone" name="Telefone"  ng-model="vm.registro.Telefone" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="Email" name="Email"  ng-model="vm.registro.Email" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="Cep" name="Cep"  ng-model="vm.registro.Cep" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="Numero" name="Numero"  ng-model="vm.registro.Numero" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="localidade">Localidade</label>
                        <input type="text" class="form-control" id="Localidade" name="Localidade"  ng-model="vm.registro.Localidade" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="uf">UF</label>
                        <input type="text" class="form-control" id="Uf" name="Uf"  ng-model="vm.registro.Uf" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="logradouro">Logradouro</label>
                        <input type="text" class="form-control" id="Logradouro" name="Logradouro"  ng-model="vm.registro.Logradouro" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="Bairro" name="Bairro"  ng-model="vm.registro.Bairro" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-user-plus"></i>
                    Novo Cliente
                </button>
            </div>
        </form>
    </div>
</div>
